*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
a{
    color: whitesmoke;
    text-decoration: none;
}

.nav-logo i{
    font-size: 25px;
    font-weight: 900;
    color:red;
}
.nav-logo{
    font-size: 0.95rem;
    font-weight: 900;
    width: 70%;
}

.border{
    border: 1.5px solid transparent;
}

.border:hover{
    border: 1.5px solid whitesmoke;
}

/*box4*/

.contactus{
    font-size: 0.95rem;
    font-weight: 700;
}

/*box6*/
.nav-cart i{
    font-size: 30px;
}

.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}
body
{
background-color: whitesmoke;
font-size: 18px;
font-family:'Times New Roman', Times, serif;

}
h1{
    font-size: 30px;
}
.container
{
width: 80%;
margin-left: 30px;
margin-top: 20px;
margin-bottom: 20px;

}
p{
    font-size: 16px;
}
.contact-box
{
    margin-top: 20px;
    background:white;
    display:flex;
    margin-left: 30px;
    margin-right: 30px;
    flex-wrap: wrap;
}
.contact-left
{
    padding:40px 60px;
    width: 100%;
}
.contact-right
{
    width: 100%;
    padding:20px;
    background: lightblue;
}
h1{
    margin-bottom: 10px;
}
.container p{
    margin-bottom:40px;
}
.input-row
{
    display:flex;
    justify-content:space-between;
    margin-bottom: 20px;
}
.input-row .input-group{
flex-basis: 45%;
}
input{
    width:100%;
    border:none;
    border-bottom: 1px solid #ccc;
    outline:none;
    padding-bottom: 5px;
}
textarea
{
    width:100%;
    border:1px solid #ccc;
    outline:none;
    padding:10px;
    box-sizing: border-box;
}
label
{
    margin-bottom: 6px;
    display:block;
    color:rgba(0, 0, 255, 0.658)
}
button{
    background: rgba(0, 0, 255, 0.658);
    width:100px;
    border:none;
    outline:none;
    color:whitesmoke;
    height:35px;
    border-radius: 30px;
    margin-top:20px;
    box-shadow:0px 5px 15px 0px rgba(27, 0, 181, 0.361) ;
}
.contact-left h4{
    color:rgba(0, 0, 255, 0.658);
    font-weight: 600;
    margin-bottom: 30px;


}
.contact-right h4{
    font-weight: 600;
    margin-bottom: 30px;

}
tr td:first-child
{
    padding-right: 20px;

}
tr td{
    padding-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

footer{
    margin-top:15px;
}

.foot-panel3 i{
    font-size: 25px;
    font-weight: 900;
    color:red;
}

.foot-panel3{
    font-size: 0.95rem;
    font-weight: 900;
    background-color: #222f3d;
    color: whitesmoke;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.foot-panel4{
    background-color: #0f1111;
    color: whitesmoke;
    height: 80px;
    font-size: 0.7rem;
    text-align: center;
}

.pages{
    padding-top: 25px;
}

.copyright{
    padding-top: 5px;
}
