*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: #006D77;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
a{
    color: whitesmoke;
    text-decoration: none;
}

.nav-logo i{
    font-size: 25px;
    font-weight: 900;
    color:red;
}
.nav-logo{
    font-size: 0.95rem;
    font-weight: 900;
    width: 70%;
}

.border{
    border: 1.5px solid transparent;
}

.border:hover{
    border: 1.5px solid whitesmoke;
}

/*box4*/

.contactus{
    font-size: 0.95rem;
    font-weight: 700;
}

/*box6*/
.nav-cart i{
    font-size: 30px;
}

.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}

.box1
{
    margin-top: 2px;
    background-color:#ADD8E6;
    background-image: url(loginpagephoto.jpg);
    background-size: cover;
    height:40vh;
    padding:20px;
}

.hero-msg{
    width: 45%;
    align-items:flex-end;
    color: #0a2c6c;
    font-size: 0.95rem;
}

.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #f3f6f5;
}

.box{
    height: 300px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin: 5px;
    border-radius: 13px;
}

.box p{
    font-size: 1rem;
}

.box i{
    font-size: 40px;
    margin-bottom:5px;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content p{
    color: #007185;
}

.foot-panel3 i{
    font-size: 25px;
    font-weight: 900;
    color:red;
}

.foot-panel3{
    font-size: 0.95rem;
    font-weight: 900;
    background-color: #222f3d;
    color: whitesmoke;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.foot-panel4{
    background-color: #0f1111;
    color: whitesmoke;
    height: 80px;
    font-size: 0.7rem;
    text-align: center;
    justify-content: center;
}
.pages{
    padding-top: 25px;
}

.copyright{
    padding-top: 5px;
}